USE [master]
GO
/****** Object:  Database [SMARTPC]    Script Date: 17/06/2024 2:22:31 CH ******/
CREATE DATABASE [SMARTPC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SMARTPC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SMARTPC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SMARTPC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SMARTPC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SMARTPC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SMARTPC]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 17/06/2024 2:22:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [uniqueidentifier] NOT NULL,
	[Username] [varchar](255) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[AccountType] [varchar](255) NOT NULL,
	[status] [int] NULL,
	[RefreshToken] [text] NULL,
	[expired] [datetime] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 17/06/2024 2:22:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[BillID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[BillDate] [date] NULL,
	[TaxIN] [int] NULL,
	[Address] [nvarchar](255) NULL,
 CONSTRAINT [PK__Bill__11F2FC4A4318CF46] PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 17/06/2024 2:22:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CustomerID] [uniqueidentifier] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 17/06/2024 2:22:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Category__19093A2BD677D987] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 17/06/2024 2:22:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [uniqueidentifier] NOT NULL,
	[ProductID] [int] NOT NULL,
	[CommentText] [nvarchar](max) NOT NULL,
	[CommentDate] [date] NOT NULL,
	[ReplyText] [nvarchar](max) NULL,
	[ReplyStaffID] [uniqueidentifier] NULL,
 CONSTRAINT [PK__Comment__C3B4DFAAC51E26D2] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 17/06/2024 2:22:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [uniqueidentifier] NOT NULL,
	[AccountID] [uniqueidentifier] NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__Customer__A4AE64B8EB495964] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilterString]    Script Date: 17/06/2024 2:22:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilterString](
	[FilterStringID] [int] IDENTITY(1,1) NOT NULL,
	[FilterTypeCategoryID] [int] NULL,
	[FilterString] [text] NULL,
 CONSTRAINT [PK_FilterString] PRIMARY KEY CLUSTERED 
(
	[FilterStringID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilterType]    Script Date: 17/06/2024 2:22:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilterType](
	[FilterTypeID] [int] IDENTITY(1,1) NOT NULL,
	[FilterType] [varchar](50) NULL,
 CONSTRAINT [PK_FilterType] PRIMARY KEY CLUSTERED 
(
	[FilterTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilterTypeCategory]    Script Date: 17/06/2024 2:22:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilterTypeCategory](
	[FilterTypeCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[FilterTypeID] [int] NULL,
	[CategoryID] [int] NULL,
 CONSTRAINT [PK_FilterTypeCategory] PRIMARY KEY CLUSTERED 
(
	[FilterTypeCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 17/06/2024 2:22:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[PCBuildID] [int] NOT NULL,
	[PCType] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 17/06/2024 2:22:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [uniqueidentifier] NULL,
	[OrderDate] [date] NOT NULL,
	[OrderStatus] [varchar](20) NOT NULL,
	[OrderAddress] [nvarchar](255) NULL,
	[ReceiveDate] [date] NULL,
	[TotalAmount] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK__Order__C3905BAFBBB7EE4A] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 17/06/2024 2:22:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[WarrantyID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PricePerItem] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK__OrderIte__57ED06A15BD17752] PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCBuild]    Script Date: 17/06/2024 2:22:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCBuild](
	[PCBuildID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [uniqueidentifier] NULL,
	[BuildDate] [date] NOT NULL,
 CONSTRAINT [PK__PCBuild__FB9BAC5128C69B39] PRIMARY KEY CLUSTERED 
(
	[PCBuildID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCBuildParts]    Script Date: 17/06/2024 2:22:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCBuildParts](
	[PCBuildID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 17/06/2024 2:22:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NULL,
	[ProductName] [varchar](255) NOT NULL,
	[Description] [text] NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Warranty] [varchar](50) NULL,
	[Brand] [varchar](50) NULL,
	[Tag] [text] NULL,
	[TDP] [int] NULL,
	[ImageLink] [text] NULL,
 CONSTRAINT [PK__Product__B40CC6EDD02E4839] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductStore]    Script Date: 17/06/2024 2:22:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductStore](
	[ProductStoreID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[StoreID] [int] NOT NULL,
	[StockQuantity] [int] NOT NULL,
 CONSTRAINT [PK__ProductS__B9ACEA7D5DFE9994] PRIMARY KEY CLUSTERED 
(
	[ProductStoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductWarranty]    Script Date: 17/06/2024 2:22:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductWarranty](
	[WarrantyID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[WarrantySentDate] [date] NULL,
	[WarrantyReceive] [date] NULL,
 CONSTRAINT [PK__ProductW__2ED318F3315F1B7E] PRIMARY KEY CLUSTERED 
(
	[WarrantyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 17/06/2024 2:22:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffID] [uniqueidentifier] NOT NULL,
	[AccountID] [uniqueidentifier] NULL,
	[StoreID] [int] NULL,
	[FullName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Staff__96D4AAF7A071A3AE] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store]    Script Date: 17/06/2024 2:22:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store](
	[StoreID] [int] IDENTITY(1,1) NOT NULL,
	[StoreName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__Store__3B82F0E14FF980B8] PRIMARY KEY CLUSTERED 
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([AccountID], [Username], [Email], [Password], [AccountType], [status], [RefreshToken], [expired]) VALUES (N'49ca5a4a-5437-4dfa-9ea6-088489531291', N'thanhca001', N'kienlthe140057@fpt.edu.vn', N'0CEF1FB10F60529028A71F58E54ED07B', N'CUSTOMER', 1, NULL, CAST(N'2024-06-23T21:49:15.037' AS DateTime))
INSERT [dbo].[Account] ([AccountID], [Username], [Email], [Password], [AccountType], [status], [RefreshToken], [expired]) VALUES (N'34ba998a-a6b0-4374-8549-47ed5fdd70ac', N'tandz2001', N'hothithaonguyen832002@gmail.com', N'0CEF1FB10F60529028A71F58E54ED07B', N'STAFF', 1, NULL, NULL)
INSERT [dbo].[Account] ([AccountID], [Username], [Email], [Password], [AccountType], [status], [RefreshToken], [expired]) VALUES (N'bc81979e-170c-4434-adca-bb071b1262bd', N'trunghoan', N'trunghoan@gmail.com', N'0CEF1FB10F60529028A71F58E54ED07B', N'STAFF', 1, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (8, N'Case')
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (9, N'Cooling System')
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (1, N'CPU')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Customer] ([CustomerID], [AccountID], [Phone], [FullName], [Address]) VALUES (N'aa8c0cae-d83e-47db-af8d-03d9861880a2', N'49ca5a4a-5437-4dfa-9ea6-088489531291', N'0945632245', N'Lê Trung Thành', N'Hà Đông,Hà Nội')
GO
SET IDENTITY_INSERT [dbo].[FilterString] ON 

INSERT [dbo].[FilterString] ([FilterStringID], [FilterTypeCategoryID], [FilterString]) VALUES (3, 2, N'Under 2 Millions')
INSERT [dbo].[FilterString] ([FilterStringID], [FilterTypeCategoryID], [FilterString]) VALUES (4, 2, N'2 - 4 Millions')
INSERT [dbo].[FilterString] ([FilterStringID], [FilterTypeCategoryID], [FilterString]) VALUES (5, 2, N'4 - 8 Millions')
GO
SET IDENTITY_INSERT [dbo].[FilterString] OFF
GO
SET IDENTITY_INSERT [dbo].[FilterType] ON 

INSERT [dbo].[FilterType] ([FilterTypeID], [FilterType]) VALUES (1, N'CPU Brand')
INSERT [dbo].[FilterType] ([FilterTypeID], [FilterType]) VALUES (2, N'CPU Price')
INSERT [dbo].[FilterType] ([FilterTypeID], [FilterType]) VALUES (3, N'CPU Type')
SET IDENTITY_INSERT [dbo].[FilterType] OFF
GO
SET IDENTITY_INSERT [dbo].[FilterTypeCategory] ON 

INSERT [dbo].[FilterTypeCategory] ([FilterTypeCategoryID], [FilterTypeID], [CategoryID]) VALUES (1, 1, 1)
INSERT [dbo].[FilterTypeCategory] ([FilterTypeCategoryID], [FilterTypeID], [CategoryID]) VALUES (2, 2, 1)
INSERT [dbo].[FilterTypeCategory] ([FilterTypeCategoryID], [FilterTypeID], [CategoryID]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[FilterTypeCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [CategoryID], [ProductName], [Description], [Price], [Warranty], [Brand], [Tag], [TDP], [ImageLink]) VALUES (1, 1, N'CPU INTEL CORE I5-12400F', N'6 cores 12 threads, Up to 4.4GHz', CAST(2999000 AS Decimal(18, 0)), N'36 Months', N'Intel', N'LGA 1700', 65, NULL)
INSERT [dbo].[Product] ([ProductID], [CategoryID], [ProductName], [Description], [Price], [Warranty], [Brand], [Tag], [TDP], [ImageLink]) VALUES (3, 1, N'CPU INTEL CORE I5-12400', N'6 cores 12 threads, Up to 4.4GHz', CAST(3799000 AS Decimal(18, 0)), N'36 Months', N'Intel', N'LGA 1700', 65, NULL)
INSERT [dbo].[Product] ([ProductID], [CategoryID], [ProductName], [Description], [Price], [Warranty], [Brand], [Tag], [TDP], [ImageLink]) VALUES (4, 1, N'CPU INTEL CORE I5-13400', N'10 cores 16 threads, Up to 4.6GHz', CAST(5859000 AS Decimal(18, 0)), N'36 Months', N'Intel', N'LGA 1700', 65, NULL)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[Staff] ([StaffID], [AccountID], [StoreID], [FullName]) VALUES (N'959a32e2-2780-40f3-a07b-123275f87a6d', N'bc81979e-170c-4434-adca-bb071b1262bd', 2, N'Trung Hoan')
INSERT [dbo].[Staff] ([StaffID], [AccountID], [StoreID], [FullName]) VALUES (N'fb9181b2-225f-404c-b93b-1f34f830d401', N'570be968-a574-4ba6-87a0-e69ac3e91c56', 2, N'Aladin Rose')
INSERT [dbo].[Staff] ([StaffID], [AccountID], [StoreID], [FullName]) VALUES (N'2825874e-21e4-47c0-a0bc-5425b2eb0b04', N'34ba998a-a6b0-4374-8549-47ed5fdd70ac', 1, N'Hồ Nguyên')
GO
SET IDENTITY_INSERT [dbo].[Store] ON 

INSERT [dbo].[Store] ([StoreID], [StoreName], [Address]) VALUES (1, N'Hà Đông Center', N'197 Trần Phú,Hà Đông,TP Hà Nội')
INSERT [dbo].[Store] ([StoreID], [StoreName], [Address]) VALUES (2, N'Tây Hồ Aqua', N'2 Trần Hưng Đạo,Tây Hồ,TP Hà Nội')
SET IDENTITY_INSERT [dbo].[Store] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__536C85E464BFAA45]    Script Date: 17/06/2024 2:22:32 CH ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [UQ__Account__536C85E464BFAA45] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__A9D10534B0F23F3E]    Script Date: 17/06/2024 2:22:32 CH ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [UQ__Account__A9D10534B0F23F3E] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Category__8517B2E09FD8F8A7]    Script Date: 17/06/2024 2:22:32 CH ******/
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [UQ__Category__8517B2E09FD8F8A7] UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__5C7E359EC8E057B8]    Script Date: 17/06/2024 2:22:32 CH ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [UQ__Customer__5C7E359EC8E057B8] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK__Bill__OrderID__59063A47] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK__Bill__OrderID__59063A47]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK__Cart__CustomerID__00200768] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK__Cart__CustomerID__00200768]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK__Cart__ProductID__5AEE82B9] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK__Cart__ProductID__5AEE82B9]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK__Comment__Custome__0A9D95DB] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK__Comment__Custome__0A9D95DB]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK__Comment__Product__0B91BA14] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK__Comment__Product__0B91BA14]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK__Comment__ReplySt__02084FDA] FOREIGN KEY([ReplyStaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK__Comment__ReplySt__02084FDA]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Account]
GO
ALTER TABLE [dbo].[FilterString]  WITH CHECK ADD  CONSTRAINT [FK_FilterString_FilterTypeCategory] FOREIGN KEY([FilterTypeCategoryID])
REFERENCES [dbo].[FilterTypeCategory] ([FilterTypeCategoryID])
GO
ALTER TABLE [dbo].[FilterString] CHECK CONSTRAINT [FK_FilterString_FilterTypeCategory]
GO
ALTER TABLE [dbo].[FilterTypeCategory]  WITH CHECK ADD  CONSTRAINT [FK_FilterTypeCategory_Category] FOREIGN KEY([FilterTypeID])
REFERENCES [dbo].[FilterType] ([FilterTypeID])
GO
ALTER TABLE [dbo].[FilterTypeCategory] CHECK CONSTRAINT [FK_FilterTypeCategory_Category]
GO
ALTER TABLE [dbo].[FilterTypeCategory]  WITH CHECK ADD  CONSTRAINT [FK_FilterTypeCategory_Category1] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[FilterTypeCategory] CHECK CONSTRAINT [FK_FilterTypeCategory_Category1]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_PCBuild] FOREIGN KEY([PCBuildID])
REFERENCES [dbo].[PCBuild] ([PCBuildID])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_PCBuild]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__CustomerI__05D8E0BE] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__CustomerI__05D8E0BE]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK__OrderItem__Order__60A75C0F] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK__OrderItem__Order__60A75C0F]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK__OrderItem__Warra__619B8048] FOREIGN KEY([WarrantyID])
REFERENCES [dbo].[ProductWarranty] ([WarrantyID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK__OrderItem__Warra__619B8048]
GO
ALTER TABLE [dbo].[PCBuild]  WITH CHECK ADD  CONSTRAINT [FK__PCBuild__Custome__09A971A2] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[PCBuild] CHECK CONSTRAINT [FK__PCBuild__Custome__09A971A2]
GO
ALTER TABLE [dbo].[PCBuildParts]  WITH CHECK ADD  CONSTRAINT [FK__PCBuildPa__PartI__6383C8BA] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[PCBuildParts] CHECK CONSTRAINT [FK__PCBuildPa__PartI__6383C8BA]
GO
ALTER TABLE [dbo].[PCBuildParts]  WITH CHECK ADD  CONSTRAINT [FK__PCBuildPa__PCBui__6477ECF3] FOREIGN KEY([PCBuildID])
REFERENCES [dbo].[PCBuild] ([PCBuildID])
GO
ALTER TABLE [dbo].[PCBuildParts] CHECK CONSTRAINT [FK__PCBuildPa__PCBui__6477ECF3]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__Categor__656C112C] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__Categor__656C112C]
GO
ALTER TABLE [dbo].[ProductStore]  WITH CHECK ADD  CONSTRAINT [FK__ProductSt__Produ__66603565] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ProductStore] CHECK CONSTRAINT [FK__ProductSt__Produ__66603565]
GO
ALTER TABLE [dbo].[ProductStore]  WITH CHECK ADD  CONSTRAINT [FK__ProductSt__Store__08B54D69] FOREIGN KEY([StoreID])
REFERENCES [dbo].[Store] ([StoreID])
GO
ALTER TABLE [dbo].[ProductStore] CHECK CONSTRAINT [FK__ProductSt__Store__08B54D69]
GO
ALTER TABLE [dbo].[ProductWarranty]  WITH CHECK ADD  CONSTRAINT [FK__ProductWa__Produ__68487DD7] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ProductWarranty] CHECK CONSTRAINT [FK__ProductWa__Produ__68487DD7]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK__Staff__StoreID__7D439ABD] FOREIGN KEY([StoreID])
REFERENCES [dbo].[Store] ([StoreID])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK__Staff__StoreID__7D439ABD]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Account]
GO
USE [master]
GO
